@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
:root{
    --main-color: #2E1F27;
    --secondary-color: #854D27;
    --accent-color: #DD7230;
    --header-font: 'Lora', serif;
    --p-font: 'Nunito', sans-serif;

}

.block{
    width: 300px;
    height: 75px;
    padding: 10%;
    margin: auto;
    border-radius: 15px;
}

.main-color{
    background-color: var(--main-color);
    color: white;
}

.secondary-color{
    background-color: var(--secondary-color);
    color:white;
}

.accent-color{
    background-color: var(--accent-color);
    color:white;
}

.test-head, h1, h2, h3, h4, h5, h6{
    font-family:var(--header-font);
}

.test-p, p{
    font-family:var(--p-font)
}