/* large viewport */
@media(min-width: 1100px){
    .content{
        grid-template-areas: 
        "event hero hero spot"
        "weather hero hero spot"
        "join news news spot";
        gap: 1em;
    }

    .content{
        height: 100vh;
    }
}