/* large viewport */
@media(min-width: 1100px){
    .content{
        grid-template-areas: 
        "event hero hero spot"
        "weather hero hero spot"
        "join news news spot";
    }
    
    .disc-content{
        grid-template-areas:
        "img1 img2"
        "img3 img4"
        "img5 img5";
    }

    .event, .spot{
        min-width: 16vw;
        max-width: 18vw;
    }

    .spot img{
        width:80px;
    }
}