/* Medium viewport */
@media (max-width: 1099px) and (min-width:769px){
    .content{
        grid-template-areas: 
        "hero hero hero"
        "news news news"
        "spot spot spot"
        "join join join"
        "event event weather";
    }

    .disc-content{
        display:grid;
        grid-template-areas:
        "img1 img1" 
        "img2 img2"
        "img3 img4"
        "img5 img5";
    }

    .head-logo{
        width:70px;
    }

    .spot{
        grid-template-areas: 
        "s1 s2";
    }

    .spot3{
        display:none;
    }

    .social-head img{
        margin: 20px auto;
    }

    /* Hamburger menu */
    .navigation {
        list-style: none;
        padding: 0;
        position: absolute;
        background-color:#854D27;
        margin: 0;
        border: 1px solid #DD723080;
        border-radius: 10px;
        background-color: #2E1F27;

    }
    .navigation li:first-child {
        display: block;
        padding: 3px 5px;
    }
    .navigation li {
        display: none;
    }
    .navigation a {
        display: block;
        padding: 0.40rem;
        text-align: left;
        text-decoration: none;
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
    }
    
    .navigation a.ham::before {
        content: "☰";
    }
    
    .ham a:hover {
        color: white;
        background-color: black;
    }

    .responsive li, .responsive{
        display: block;
    }
    
    .responsive a.ham::before {
        content: "X";
    }

    .head-top-text h1{
        font-size: 20px;
    }

    .ham{
        display: block;
    }
    .navigation:hover{
        background-color: #DD7230;
        transition: 0.5s;
    
    }

    .hammy li:hover{
        background-color: #DD7230;
        padding-left: 15px;
        font-size: larger;
        transition: 0.5s;
    }
    /* Grid layout header */
    .top-head{
        display: grid;
        grid-template-areas: 
        "img name name social ham";
        height:10vh;
    }

    /* Discover Page */
    .cap-div{
        top:60%;
        height: 40%;
    }
}