@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root{
    --main-color: #2E1F27;
    --secondary-color: #854D27;
    --accent-color: #DD7230;
    --header-font: 'Lora', serif;
    --p-font: 'Nunito', sans-serif;

}

.colored-box{
    background-color: var(--secondary-color);
    padding: 2vw;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.small-box{
    width: 200px;
    height: 144px;
}

body, .date-time{
    font-family: var(--p-font);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--header-font);
}

body{
    margin: 0px;
    overflow-x: hidden;
    color:white;
}

main{
    margin: 0 auto;
}

.content{
    padding: 1em 10vw;
    display: grid;
    gap: 1em;
}

header, footer{
    background-color: var(--main-color);
    padding: 20px 10vw; 
    display:block;
}

.footer-top{
    display: flex;
}

.block{
    display: block;
}



/* Header */
.head-logo, .foot-logo img{
    width: 15vw;
    max-width: 100px;
    height: auto;
    margin-right: 25px;
}

.top-head{
    display: flex;
    /* flex-wrap: wrap; */
}

.head-top-text h1{
    margin-bottom: 0;
}

.head-top-text p{
    margin-top: 0;
    grid-area: name;
}
nav{
    margin-left: 2em;
    margin-top: 1.8em;
    font-size: 1.3em;
    grid-area:ham;
}
nav ul{
    list-style-type: none;
}

nav li{
    display: inline;
    padding-right: 2em;
}

nav a{
    text-decoration: none;
    font-family: var(--p-font);
    color:white;
}


.social-head img{
    width: 40px;
    height: auto;
}

.social-head{
    grid-area: social;
}

.time{
    border-top: solid 1px #DD723550;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
}

.hammy{
    display: none;
    background-color: var(--secondary-color);
    margin: 0;
}
.hammy ul{
    padding:0;
    margin-top: 0;
}

nav a:hover{
    font-size: larger;
    transition: 0.5s;
}

.social-head{
    text-align: right;
    padding-top: 5vh;
}


.hammy li{
    padding: 0.75rem 10px;
}

/* meeting reminder banner */
.notification-banner{
    display: none;
}
#reminder{
    text-align: center;
    background:linear-gradient(-45deg, var(--accent-color), #dd7230c9, var(--accent-color), #dd7230c9); 
    border: 1px solid var(--secondary-color);
    display: block;
    animation: bannerBG 5s ease infinite;
}

@keyframes bannerBG{
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* Main Content index.html */

.hero-img, .disc-img{
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: flex;
    position:relative;
}

.hero-img h2, .hero-img button, .cap-div{
    position: absolute;
    z-index: 3;
}

.hero-img h2, .disc-img{
    color: white;
    top: 10px;
    left: 10px;
}

.hero-img button{
    bottom: 10px;
    right: 10px;
    padding: 10px;
    border: solid 0.5px white;
    border-radius: 10px;
    background-color: var(--accent-color);
    color: white;
    font-family: var(--header-font);
    box-shadow: 0px 0px 3px 3px white;
}

.hero-img button:hover{
    transition: 0.5s;
    box-shadow: 0px 0px 8px 1px white;
    font-size: medium;
    cursor: pointer;
    padding:9px;
}

.hero-img img, .disc-img img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.spot div{
    margin: 5px;
}

.spot img{
    max-width:100%;
    max-height:100%;
    height: auto;
}

.weather p{
    text-align: left;
}

#top-weather{
    display: inline;
}

#temp{
    font-size: 3em;
    float:right;
}

.weather img{
    float: lef;
}

main a{
    color:#DD7230;
}

main h3{
    text-shadow: 0px 0px 5px var(--accent-color);
}

/* Grid layout */
.spot{
    display: grid;
    gap: 0;
}
.event{
    grid-area: event;
}

.weather{
    grid-area: weather;
}

.join{
    grid-area: join;
}

.hero-img{
    grid-area: hero;
}

.spot{
    grid-area: spot;
}

.news{
    grid-area: news;
}

.logo-box{
    grid-area:img;
}

.navigation{
    grid-area:ham;
}

footer a, footer a:link, footer a:visited, footer a:active{
    text-decoration: none;
    color: #fffb00;    
}

.footer-top{
    display: grid;
    grid-template-areas: 
    "foot-logo add-foot add-foot contact-foot";
}

.head-logo{
    grid-area:foot-logo;
}
.add-foot{
    grid-area:add-foot;
}
.contact-foot{
    grid-area: contact-foot;
}

.centered{
    text-align: center;
}

